.inter-generate-content {
  
  margin: 20px;

  p {
    font-size: 1.4rem;
    color: $orange;
    background: $brown;
    padding: 5px;
    margin: 15px auto;
    text-align: center;
  }

.inter-generate {
  text-align: center;


    button {
      width: fit-content;
      padding: 5px;
      border-radius: 20px;
      font-size: 1.4rem;
      margin: 0 20px;
      background: $green1;
      color: $brown;
      
    }
  }
  }

 


